.grid {
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 100px 200px;
}

.item {
    background-color: #ede7f6;
    padding: 1rem;
    border-radius: 1rem;
}